.notification{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    background-color: #ff0000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
    max-width: 90%;
}
